<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDZrgPAv8BeoZmZ2fE4ughUCT4COtVajn0</string>
	<key>GCM_SENDER_ID</key>
	<string>690104518018</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.axnd.axndlogin</string>
	<key>PROJECT_ID</key>
	<string>axndlogin</string>
	<key>STORAGE_BUCKET</key>
	<string>axndlogin.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:690104518018:ios:4e66d1167a26ca2c6f7b9b</string>
</dict>
</plist>